.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .todo-name {
    flex: 1;
    padding-right: 20px;
  }

  .actions {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;

    .btn + .btn {
      margin-left: 5px;
    }
  }
}
